@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@900&display=swap");

* {
  font-family: "Ubuntu", sans-serif !important;
}

.nav-link {
  margin-left: 32px;
}

nav,
.navbar {
  padding: 10px 62px;
  background-color: #004a3e !important;
}

.input-box {
  margin-left: 3rem;
  width: 28rem;
  border-radius: 20px;
}

.nav-link {
  color: white !important;
}

.navbar-logo {
  width: 51%;
}

/* ------------------------------------------------------- second section ------------------------------------------------------- */

.second-image-section {
  display: block;
  margin-left: auto;
}

.second_left_section_heading {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.second_left_section_p {
  color: #000;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.second-section-div,
.third-section-div {
  padding: 34px;
}

.start-learning-button {
  border-radius: 50px;
  background: #004a3e;
  width: 268.746px;
  height: 49.569px;
  color: #fff;
  border: none;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.second_left_section_p_div {
  padding-top: 15px;
}

.section-section_leftside_child_div {
  display: block;
  margin: auto;
}

.second-section {
  padding-top: 30px;
}

/* ------------------------------------------------------- second section ------------------------------------------------------- */

/* ------------------------------------------------------- third section ------------------------------------------------------- */

.third-section-learning-box {
  padding: 40px 25px 25px 25px;
  background: #fbf9f9;
  border: none;
}

.third-section-learning-box_p1 {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.third-section-learning-box_p2 {
  color: #000;
  text-align: justify;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 23px;
}

.third-section-margin {
  margin: 0 74px;
}

.third-section-title_p {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.third-section-title {
  padding-top: 10rem;
}

/* ------------------------------------------------------- third section ------------------------------------------------------- */

/* ------------------------------------------------------- fortth section ------------------------------------------------------- */

.center-class {
  text-align: center;
}

.forth-section-div {
  background: #f9f9fd;
  margin-top: 10rem;
  padding: 60px 0;
}

/* ------------------------------------------------------- fortth section ------------------------------------------------------- */

/* ------------------------------------------------------- fifth section ------------------------------------------------------- */

.fifth-section-learning-box_p3 {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cards-border {
  border-radius: 20px !important;
  border: none;
}

.card-flex-direction {
  display: flex;
  justify-content: space-between;
  /* padding: 4px 29px; */
}

.view-learning-button {
  border-radius: 50px;
  background: #004a3e;
  width: 155.746px;
  height: 39.569px;
  color: #fff;
  border: none;
  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.courses-paddng {
  padding: 17px 24px;
  background: #eee;
}

.total-students {
  color: #3a3a3a;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.course-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.course-fee {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-align: right;
}

.courses-list-padding {
  padding-top: 5rem;
}

/* ------------------------------------------------------- fifth section ------------------------------------------------------- */

/* ------------------------------------------------------- media screen for mobile devices ------------------------------------- */
@media only screen and (max-width: 600px) {
  .input-box {
    margin-left: 0rem;
    width: auto;
    border-radius: 20px;
  }

  nav,
  .navbar {
    padding: 10px 12px;
    background-color: #004a3e !important;
  }

  .input-box {
    display: none;
    margin-right: auto !important;
  }

  .second-image-section {
    padding-top: 20px;
  }

  /* ---------------------------- thrid section ---------------------------- */

  .third-section-margin {
    margin: 0 20px;
  }

  /* ---------------------------- thrid section ---------------------------- */
}

/* --------------------------------------------------------------------------------------  end - media screen for mobile devices */
